<div
    class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible"
    cdkScrollable
>
    <!-- Main -->
    <div class="inline-block p-6 sm:p-10 text-left print:p-0">
        <!-- Invoice -->
        <div
            class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent"
        >
            <div class="flex items-start">
                <div class="grid grid-rows-2 place-items-start gap-y-12">
                    <div class="grid auto-cols-max grid-flow-col gap-x-8">
                        <div class="place-self-top w-30 space-y-6">
                            <img
                                class="w-30"
                                src="assets/images/logo/car.svg"
                            />
                            <span class="w-24 text-[17px] text-center font-semibold place-self-center">GRACE AUTO SERVICE</span>
                        </div>
                        <div class="text-[12px] text-[#787878] bg-[#FAF0CA] p-3 rounded-md">
                            <div>Grace cars 44 wilde cross,</div>
                            <div>Burnham-On-Sea, TA8 1RL</div>
                            <div>+66 123 455 87</div>
                        </div>
                    </div>
                    <div class="grid auto-cols-max grid-flow-row gap-y-2">
                        <div
                            class="place-self-left w-24 text-left text-[16px] text-[#787878]"
                        >
                            Bill To
                        </div>
                        <div class="w-60 text-md">
                            <div class="text-[#64748B] font-[16px]">JOHN MATHEW,  KUNNATH KIZAKKATHIL,  11 BUDE ROAD FILTON,  BRISTOL BS34 7HN</div>
                            <div class="text-[#64748B] font-[16px]">+55 552 455 87</div>
                        </div>
                    </div>
                    <div class="grid auto-cols-max grid-flow-row gap-y-2">
                        <div
                            class="place-self-left w-24 text-left text-[16px] text-[#787878]"
                        >
                        Car Details:                         </div>
                        <div class="grid grid-cols-12 gap-x-3 mt-0">
                            <!-- Columns -->
                            <div class="col-span-2 font-medium text-md text-secondary">REG NO</div>
                            <!-- <div class="font-medium text-md text-right text-secondary">RATE</div>
                            <div class="font-medium text-md text-right text-secondary">QTY</div> -->
                            <div class="col-span-8 font-medium text-md text-left text-[#5D6066] text-secondary">DF19 UCZ</div>

                        </div>
                        <div class="grid grid-cols-12 gap-x-3 mt-0">
                            <!-- Columns -->
                            <div class="col-span-2 font-medium text-md text-secondary">MAKE</div>
                            <div class="col-span-8 font-medium text-md text-left text-[#5D6066] text-secondary">HONDA</div>

                        </div>
                        <div class="grid grid-cols-12 gap-x-3 mt-0">
                            <!-- Columns -->
                            <div class="col-span-2 font-medium text-md text-secondary">MODEL</div>
                            <div class="col-span-8 font-medium text-md text-left text-[#5D6066] text-secondary">CIVIC</div>

                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-x-4 gap-y-1 ml-auto">
                    <div
                        class="justify-self-end text-4xl tracking-tight text-secondary"
                    >
                        INVOICE
                    </div>
                    <div class="text-4xl">#9-0004</div>
                    <div
                        class="justify-self-end font-medium tracking-tight text-secondary"
                    >
                        INVOICE DATE
                    </div>
                    <div class="font-medium">Jul 19, 2022</div>
                    <div
                        class="justify-self-end font-medium tracking-tight text-secondary"
                    >
                        DUE DATE
                    </div>
                    <div class="font-medium">Aug 19, 2022</div>
                    <div
                        class="justify-self-end font-medium tracking-tight text-secondary"
                    >
                        TOTAL DUE
                    </div>
                    <div class="font-medium">$49,000.00</div>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-x-1 mt-12">
                <!-- Columns -->
                <div class="col-span-8 font-medium text-md text-secondary">SERVICE</div>
                <div class="font-medium text-md text-right text-secondary">RATE</div>
                <div class="font-medium text-md text-right text-secondary">QTY</div>
                <div class="col-span-2 font-medium text-md text-right text-secondary">TOTAL</div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Item -->
                <div class="col-span-8 text-lg font-medium">Prototype & Design</div>
                <div class="self-center text-right">$75.00</div>
                <div class="self-center text-right">240</div>
                <div class="col-span-2 self-center text-right">$18,000.00</div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Item -->
                <div class="col-span-8 text-lg font-medium">Development</div>
                <div class="self-center text-right">$60.50</div>
                <div class="self-center text-right">350</div>
                <div class="col-span-2 self-center text-right">$21,175.00</div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Item -->
                <div class="col-span-8 text-lg font-medium">Testing</div>
                <div class="self-center text-right">$25.00</div>
                <div class="self-center text-right">50</div>
                <div class="col-span-2 self-center text-right">$1,250.00</div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Item -->
                <div class="col-span-8 text-lg font-medium">Documentation & Training</div>
                <div class="self-center text-right">$26.50</div>
                <div class="self-center text-right">260</div>
                <div class="col-span-2 self-center text-right">$6,890.00</div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Item -->
                <div class="col-span-8 text-lg font-medium">Critical bug fixes for a year</div>
                <div class="self-center text-right">$25,000</div>
                <div class="self-center text-right">2</div>
                <div class="col-span-2 self-center text-right">$50,000.00</div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Item -->
                <div class="col-span-8 text-lg font-medium">Extended security updates for a year</div>
                <div class="self-center text-right">$15.000</div>
                <div class="self-center text-right">2</div>
                <div class="col-span-2 self-center text-right">$30,000.00</div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Item -->
                <div class="col-span-8 text-lg font-medium">Extended updates for a year</div>
                <div class="self-center text-right">$50.000</div>
                <div class="self-center text-right">2</div>
                <div class="col-span-2 self-center text-right">$100,000.00</div>

                <!-- Spacer -->
                <div class="col-span-12 mt-16"></div>

                <!-- Subtotal -->
                <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                <div class="col-span-2 text-right text-lg">$227,315.00</div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Tax -->
                <div class="col-span-10 self-center font-medium tracking-tight text-secondary">TAX</div>
                <div class="col-span-2 text-right text-lg">$11,365.75</div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <div class="col-span-10 self-center font-medium tracking-tight text-secondary">DISCOUNT</div>
                <div class="col-span-2 text-right text-lg">$3,680.75</div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Total -->
                <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
                <div class="col-span-2 text-right text-2xl font-medium">$235,000.00</div>
            </div>

            <div class="mt-16 bg-[#1F5683] p-3 rounded-md">
                <div class="text-[12px] text-[#FFFFFF]">
                    Terms and conditions:
                </div>
             
                    <div class="flex items-start mt-3 text-[10px] text-[#C1C1C1]">
                        Payment is due 30 days from the invoice date.
                    </div>
          
            </div>
        </div>
    </div>
</div>
