<div
  class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible"
  cdkScrollable
>
  <!-- View mode -->
  <ng-container *ngIf="!editMode">
    <div class="inline-block p-6 sm:p-10 text-left print:p-0">
      <!-- Invoice -->
      <div
        class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent"
      >
        <div class="flex items-start">
          <div class="grid grid-rows-2 place-items-start gap-y-12">
            <div class="grid auto-cols-max grid-flow-col gap-x-8">
              <div class="place-self-center w-24">
                <img class="w-24" src="assets/images/logo/logo.svg" />
              </div>
              <div class="pl-10 border-l text-md">
                <div class="font-medium">Techcora Corporation Pvt Ltd</div>
                <div>2810 Country Club Road</div>
                <div>Cranford, NJ 07016</div>
                <div>+66 123 455 87</div>
                <div>hello&#64;techcoracorp.com</div>
                <div>www.techcoracorp.com</div>
              </div>
            </div>
            <div class="grid auto-cols-max grid-flow-col gap-x-8">
              <div
                class="place-self-center w-24 text-center text-2xl text-secondary"
              >
                Bill To
              </div>
              <div class="pl-10 border-l text-md">
                <div class="font-medium">Jobin Ebenezer</div>
                <div>9301 Wood Street</div>
                <div>Philadelphia, PA 19111</div>
                <div>+55 552 455 87</div>
                <div>jobin.ebenezer&#64;company.com</div>
              </div>
            </div>
          </div>

          <div class="grid grid-rows-2 place-items-start gap-y-12 ml-auto">
            <div class="grid grid-cols-2 gap-x-4 gap-y-1 ml-auto">
              <div
                class="justify-self-end text-4xl tracking-tight text-secondary"
              >
                INVOICE
              </div>
              <div class="text-4xl">#9-0004</div>
              <div
                class="justify-self-end font-medium tracking-tight text-secondary"
              >
                INVOICE DATE
              </div>
              <div class="font-medium">Jul 19, 2022</div>
              <div
                class="justify-self-end font-medium tracking-tight text-secondary"
              >
                DUE DATE
              </div>
              <div class="font-medium">Aug 19, 2022</div>
              <div
                class="justify-self-end font-medium tracking-tight text-secondary"
              >
                TOTAL DUE
              </div>
              <div class="font-medium">$49,000.00</div>
            </div>
            <div class="grid auto-cols-max grid-flow-col gap-x-8">
              <div
                class="place-self-center w-24 text-center text-2xl text-secondary"
              >
                Car Info
              </div>
              <div class="pl-10 border-l text-md">
                <div class="font-medium">DL43 USS2</div>
                <div>Scoda</div>
                <div>Rapid</div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-12 gap-x-1 mt-16">
          <!-- Columns -->
          <div class="col-span-8 font-medium text-md text-secondary">
            SERVICE
          </div>
          <div class="font-medium text-md text-right text-secondary">RATE</div>
          <div class="font-medium text-md text-right text-secondary">QTY</div>
          <div class="col-span-2 font-medium text-md text-right text-secondary">
            TOTAL
          </div>

          <!-- Divider -->
          <div class="col-span-12 my-4 border-b"></div>

          <!-- Item -->
          <div class="col-span-8">
            <div class="text-lg font-medium">Prototype & Design</div>
            <div class="mt-2 text-md text-secondary">
              Prototyping of the application's general workflow and the detailed
              design of its 72 screens as a working prototype.
            </div>
          </div>
          <div class="self-center text-right">$75.00</div>
          <div class="self-center text-right">240</div>
          <div class="col-span-2 self-center text-right">$18,000.00</div>

          <!-- Divider -->
          <div class="col-span-12 my-4 border-b"></div>

          <!-- Item -->
          <div class="col-span-8">
            <div class="text-lg font-medium">Development</div>
            <div class="mt-2 text-md text-secondary">
              The web and mobile development of the application using
              appropriate tools and registering it to major application stores.
            </div>
          </div>
          <div class="self-center text-right">$60.50</div>
          <div class="self-center text-right">350</div>
          <div class="col-span-2 self-center text-right">$21,175.00</div>

          <!-- Divider -->
          <div class="col-span-12 my-4 border-b"></div>

          <!-- Item -->
          <div class="col-span-8">
            <div class="text-lg font-medium">Testing</div>
            <div class="mt-2 text-md text-secondary">
              Extensive testing of the application using various mobile and
              desktop devices with different operating systems.
            </div>
          </div>
          <div class="self-center text-right">$25.00</div>
          <div class="self-center text-right">50</div>
          <div class="col-span-2 self-center text-right">$1,250.00</div>

          <!-- Divider -->
          <div class="col-span-12 my-4 border-b"></div>

          <!-- Item -->
          <div class="col-span-8">
            <div class="text-lg font-medium">Documentation & Training</div>
            <div class="mt-2 text-md text-secondary">
              Development of the detailed documentation, preparing guides and
              instructional videos and extensive training of 2 people.
            </div>
          </div>
          <div class="self-center text-right">$26.50</div>
          <div class="self-center text-right">260</div>
          <div class="col-span-2 self-center text-right">$6,890.00</div>

          <!-- Spacer -->
          <div class="col-span-12 mt-16"></div>

          <!-- Subtotal -->
          <div
            class="col-span-10 self-center font-medium tracking-tight text-secondary"
          >
            SUBTOTAL
          </div>
          <div class="col-span-2 text-right text-lg">$47,315.00</div>

          <!-- Divider -->
          <div class="col-span-12 my-3 border-b"></div>

          <!-- Tax -->
          <div
            class="col-span-10 self-center font-medium tracking-tight text-secondary"
          >
            TAX
          </div>
          <div class="col-span-2 text-right text-lg">$2,365.75</div>

          <!-- Divider -->
          <div class="col-span-12 my-3 border-b"></div>

          <!-- Discount -->
          <div
            class="col-span-10 self-center font-medium tracking-tight text-secondary"
          >
            DISCOUNT
          </div>
          <div class="col-span-2 text-right text-lg">$180.75</div>

          <!-- Divider -->
          <div class="col-span-12 my-3 border-b"></div>

          <!-- Total -->
          <div
            class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary"
          >
            TOTAL
          </div>
          <div class="col-span-2 text-right text-2xl font-medium">
            $49,000.00
          </div>
        </div>

        <div class="mt-16">
          <div class="font-medium">
            Please pay within 15 days. Thank you for your business.
          </div>
          <div class="flex items-start mt-4">
            <img class="flex-0 w-10 mt-2" src="assets/images/logo/logo.svg" />
            <div class="ml-6 text-sm text-secondary">
              In condimentum malesuada efficitur. Mauris volutpat placerat
              auctor. Ut ac congue dolor. Quisque scelerisque lacus sed feugiat
              fermentum. Cras aliquet facilisis pellentesque. Nunc hendrerit
              quam at leo commodo, a suscipit tellus dapibus. Etiam at felis
              volutpat est mollis lacinia. Mauris placerat sem sit amet velit
              mollis, in porttitor ex finibus. Proin eu nibh id libero tincidunt
              lacinia et eget.
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Edit mode -->
  <ng-container *ngIf="editMode">
    <div class="flex flex-col w-full bg-card">
      <!-- Invoice form -->
      <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
        <div class="w-full max-w-3xl">
          <form [formGroup]="invoiceForm">
            <!-- Bill To -->
            <div formGroupName="billTo">
              <div class="text-5xl">Bill To</div>
              <div class="mt-8">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label>Name</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'"
                  ></mat-icon>
                  <input
                    matInput
                    [formControlName]="'name'"
                    [placeholder]="'Name'"
                    [spellcheck]="false"
                  />
                </mat-form-field>
              </div>
              <!-- Address -->
              <div class="mt-8">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label>Address</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:map-pin'"
                  ></mat-icon>
                  <input
                    matInput
                    [formControlName]="'address'"
                    [placeholder]="'Address'"
                  />
                </mat-form-field>
              </div>

              <!-- Email -->
              <div class="mt-8">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label>Email</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:envelope'"
                  ></mat-icon>
                  <input
                    matInput
                    [formControlName]="'email'"
                    [placeholder]="'Email'"
                  />
                </mat-form-field>
              </div>
              <!-- Phone number -->
              <div class="mt-8">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label>Phone Number</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:map-pin'"
                  ></mat-icon>
                  <input
                    matInput
                    [formControlName]="'phoneNumber'"
                    [placeholder]="'Phone Number'"
                  />
                </mat-form-field>
              </div>
            </div>

            <!-- Car Info -->
            <div formGroupName="carInfo">
              <div class="text-5xl">Car Info</div>
              <!-- Reg No -->
              <div class="mt-8">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label>Reg No</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'"
                  ></mat-icon>
                  <input
                    matInput
                    [formControlName]="'regNo'"
                    [placeholder]="'Reg No'"
                    [spellcheck]="false"
                  />
                </mat-form-field>
              </div>
              <!-- Make -->
              <div class="mt-8">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label>Make</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:map-pin'"
                  ></mat-icon>
                  <input
                    matInput
                    [formControlName]="'make'"
                    [placeholder]="'Make'"
                  />
                </mat-form-field>
              </div>

              <!-- Model -->
              <div class="mt-8">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                  <mat-label> Model</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:envelope'"
                  ></mat-icon>
                  <input
                    matInput
                    [formControlName]="'model'"
                    [placeholder]="'Model'"
                  />
                </mat-form-field>
              </div>
            </div>

            <div formArrayName="services">
              <div class="text-5xl">Items</div>

              <div
                *ngFor="
                  let service of invoiceForm.get('services')['controls'];
                  let j = index
                "
              >
                <div [formGroupName]="j" class="flex flex-row space-x-10">
                  <!-- ----------------- -->
                  <!-- Item -->
                  <div class="mt-8">
                    <mat-form-field
                      class="w-full"
                      [subscriptSizing]="'dynamic'"
                    >
                      <mat-label>Item</mat-label>
                      <mat-icon
                        matPrefix
                        class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:user-circle'"
                      ></mat-icon>
                      <input
                        matInput
                        [formControlName]="'item'"
                        [placeholder]="'Item'"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>

                  <!-- Quantity -->
                  <div class="mt-8">
                    <mat-form-field
                      class="w-full"
                      [subscriptSizing]="'dynamic'"
                    >
                      <mat-label>Quantity</mat-label>
                      <mat-icon
                        matPrefix
                        class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:user-circle'"
                      ></mat-icon>
                      <input
                        matInput
                        [formControlName]="'quantity'"
                        [placeholder]="'Quantity'"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>

                  <!-- Price -->
                  <div class="mt-8">
                    <mat-form-field
                      class="w-full"
                      [subscriptSizing]="'dynamic'"
                    >
                      <mat-label>Price</mat-label>
                      <mat-icon
                        matPrefix
                        class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:user-circle'"
                      ></mat-icon>
                      <input
                        matInput
                        [formControlName]="'price'"
                        [placeholder]="'Price'"
                        [spellcheck]="false"
                      />
                    </mat-form-field>
                  </div>
                  <!-- ----------------- -->
                </div>
              </div>

              <button type="button" (click)="addItemRows()">+ 5 Rows</button>
            </div>

            <!-- Emails -->
            <!-- <div class="mt-8">
              <div class="space-y-4">
                  <ng-container
                      *ngFor="
                          let service of invoiceForm.get('services')[
                              'controls'
                          ];
                          let i = index;
                          let first = first;
                          let last = last;
                          trackBy: trackByFn
                      "
                  >
                      <div class="flex">
                          <mat-form-field
                              class="flex-auto"
                              [subscriptSizing]="'dynamic'"
                          >
                              <mat-label *ngIf="first"
                                  >Email</mat-label
                              >
                              <mat-icon
                                  matPrefix
                                  class="hidden sm:flex icon-size-5"
                                  [svgIcon]="
                                      'heroicons_solid:envelope'
                                  "
                              ></mat-icon>
                              <input
                                  matInput
                                  [formControl]="email.get('email')"
                                  [placeholder]="'Email address'"
                                  [spellcheck]="false"
                              />
                          </mat-form-field>
                          <mat-form-field
                              class="flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4"
                              [subscriptSizing]="'dynamic'"
                          >
                              <mat-label *ngIf="first"
                                  >Label</mat-label
                              >
                              <mat-icon
                                  matPrefix
                                  class="hidden sm:flex icon-size-5"
                                  [svgIcon]="'heroicons_solid:tag'"
                              ></mat-icon>
                              <input
                                  matInput
                                  [formControl]="email.get('label')"
                                  [placeholder]="'Label'"
                              />
                          </mat-form-field>
                          
                          <ng-container *ngIf="!(first && last)">
                              <div
                                  class="flex items-center w-10 pl-2"
                                  [ngClass]="{ 'mt-6': first }"
                              >
                                  <button
                                      class="w-8 h-8 min-h-8"
                                      mat-icon-button
                                      (click)="removeEmailField(i)"
                                      matTooltip="Remove"
                                  >
                                      <mat-icon
                                          class="icon-size-5"
                                          [svgIcon]="
                                              'heroicons_solid:trash'
                                          "
                                      ></mat-icon>
                                  </button>
                              </div>
                          </ng-container>
                      </div>
                  </ng-container>
              </div>
              <div
                  class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                  (click)="addEmailField()"
              >
                  <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:plus-circle'"
                  ></mat-icon>
                  <span
                      class="ml-2 font-medium text-secondary group-hover:underline"
                      >Add an email address</span
                  >
              </div>
          </div> -->

            <!-- Phone numbers -->
            <!-- <div class="mt-8">
              <div class="space-y-4">
                  <ng-container
                      *ngFor="
                          let phoneNumber of contactForm.get(
                              'phoneNumbers'
                          )['controls'];
                          let i = index;
                          let first = first;
                          let last = last;
                          trackBy: trackByFn
                      "
                  >
                      <div class="relative flex">
                          <mat-form-field
                              class="flex-auto"
                              [subscriptSizing]="'dynamic'"
                          >
                              <mat-label *ngIf="first"
                                  >Phone</mat-label
                              >
                              <input
                                  matInput
                                  [formControl]="
                                      phoneNumber.get('phoneNumber')
                                  "
                                  [placeholder]="'Phone'"
                              />
                              <mat-select
                                  class="mr-1.5"
                                  [formControl]="
                                      phoneNumber.get('country')
                                  "
                                  matPrefix
                              >
                                  <mat-select-trigger>
                                      <span class="flex items-center">
                                          <span
                                              class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                              [style.background]="
                                                  'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'
                                              "
                                              [style.backgroundSize]="
                                                  '24px 3876px'
                                              "
                                              [style.backgroundPosition]="
                                                  getCountryByIso(
                                                      phoneNumber.get(
                                                          'country'
                                                      ).value
                                                  ).flagImagePos
                                              "
                                          ></span>
                                          <span
                                              class="sm:mx-0.5 font-medium text-default"
                                              >{{
                                                  getCountryByIso(
                                                      phoneNumber.get(
                                                          "country"
                                                      ).value
                                                  ).code
                                              }}</span
                                          >
                                      </span>
                                  </mat-select-trigger>
                                  <ng-container
                                      *ngFor="
                                          let country of countries;
                                          trackBy: trackByFn
                                      "
                                  >
                                      <mat-option
                                          [value]="country.iso"
                                      >
                                          <span
                                              class="flex items-center"
                                          >
                                              <span
                                                  class="w-6 h-4 overflow-hidden"
                                                  [style.background]="
                                                      'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'
                                                  "
                                                  [style.backgroundSize]="
                                                      '24px 3876px'
                                                  "
                                                  [style.backgroundPosition]="
                                                      country.flagImagePos
                                                  "
                                              ></span>
                                              <span class="ml-2">{{
                                                  country.name
                                              }}</span>
                                              <span
                                                  class="ml-2 font-medium"
                                                  >{{
                                                      country.code
                                                  }}</span
                                              >
                                          </span>
                                      </mat-option>
                                  </ng-container>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field
                              class="flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4"
                              [subscriptSizing]="'dynamic'"
                          >
                              <mat-label *ngIf="first"
                                  >Label</mat-label
                              >
                              <mat-icon
                                  matPrefix
                                  class="hidden sm:flex icon-size-5"
                                  [svgIcon]="'heroicons_solid:tag'"
                              ></mat-icon>
                              <input
                                  matInput
                                  [formControl]="
                                      phoneNumber.get('label')
                                  "
                                  [placeholder]="'Label'"
                              />
                          </mat-form-field>
                           Remove phone number 
                          <ng-container *ngIf="!(first && last)">
                              <div
                                  class="flex items-center w-10 pl-2"
                                  [ngClass]="{ 'mt-6': first }"
                              >
                                  <button
                                      class="w-8 h-8 min-h-8"
                                      mat-icon-button
                                      (click)="
                                          removePhoneNumberField(i)
                                      "
                                      matTooltip="Remove"
                                  >
                                      <mat-icon
                                          class="icon-size-5"
                                          [svgIcon]="
                                              'heroicons_solid:trash'
                                          "
                                      ></mat-icon>
                                  </button>
                              </div>
                          </ng-container>
                      </div>
                  </ng-container>
              </div>
              <div
                  class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                  (click)="addPhoneNumberField()"
              >
                  <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:plus-circle'"
                  ></mat-icon>
                  <span
                      class="ml-2 font-medium text-secondary group-hover:underline"
                      >Add a phone number</span
                  >
              </div>
          </div> -->

            <!-- Address -->
            <div class="mt-8">
              <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Tax</mat-label>
                <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:map-pin'"
                ></mat-icon>
                <input
                  matInput
                  [formControlName]="'tax'"
                  [placeholder]="'Address'"
                />
              </mat-form-field>
            </div>

            <!-- Notes -->
            <div class="mt-8">
              <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Discount</mat-label>
                <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:bars-3-bottom-left'"
                ></mat-icon>
                <textarea
                  matInput
                  [formControlName]="'discount'"
                  [placeholder]="'Notes'"
                  [rows]="5"
                  [spellcheck]="false"
                  cdkTextareaAutosize
                ></textarea>
              </mat-form-field>
            </div>

            <!-- Actions -->
            <div
              class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
            >
              <!-- Delete -->
              <button
                mat-button
                [color]="'warn'"
                [matTooltip]="'Delete'"
                (click)="deleteContact()"
              >
                Delete
              </button>
              <!-- Cancel -->
              <button
                class="ml-auto"
                mat-button
                [matTooltip]="'Cancel'"
                (click)="toggleEditMode(false)"
              >
                Cancel
              </button>
              <!-- Save -->
              <button
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                [disabled]="invoiceForm.invalid"
                [matTooltip]="'Save'"
                (click)="updateContact()"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</div>
